<!DOCTYPE html>
<html>
  <head>
    <title>Differential Context Relaxation Algorytm</title>
    {% load static %}
  </head>
  <body>
    <h1>Differential Context Relaxation Algorytm</h1>
    <p>
      Algorytm zaimplementowany na podstawie artykułów:
      <br />
      "Differential Context Relaxation for Context-Aware Travel Recommendation"
      - Yong Zheng, Robin Burke, and Bamshad Mobasher,
      <br />
      "Optimal Feature Selection for Context-Aware Recommendation using
      Differential Relaxation" - Yong Zheng, Robin Burke, and Bamshad Mobasher
    </p>
    <p>
      <figure>
        <img src="{% static 'images/wzor_DCR.png' %}" />
        <figcaption>
          UBCF+DCR User-based collaborative Filtering recommendation Resnick’s
          algorithm with Context Relaxation
        </figcaption>
      </figure>
    </p>
    <form action="{% url 'Wyniki' %}" method="post">
      {% csrf_token %}

      <fieldset>
        <legend>
          C1 - Zmienna po której przeprowadzona zostanie selekcja sąsiadów
        </legend>
        {% for context_var in context_list %}
        <input
          type="checkbox"
          id="{{ context_var }}"
          name="c1_choices"
          value="{{ context_var }}"
        />
        <label for="{{ context_var }}">{{ context_var }}</label><br />
        {% endfor %}
      </fieldset>

      <fieldset>
        <legend>Wybór typu selekcji (C1)</legend>
        <label>
          <input type="radio" name="selection_type_C1" value="exact" checked />
          Exact
        </label>
        <label>
          <input type="radio" name="selection_type_C1" value="contained" />
          Contained
        </label>
      </fieldset>

      <fieldset>
        <legend>C2 - Zmienna decydująca o wkładzie sąsiadów</legend>
        {% for context_var in context_list %}
        <input
          type="checkbox"
          id="{{ context_var }}"
          name="c2_choices"
          value="{{ context_var }}"
        />
        <label for="{{ context_var }}">{{ context_var }}</label><br />
        {% endfor %}
      </fieldset>

      <fieldset>
        <legend>Wybór typu selekcji (C2)</legend>
        <label>
          <input type="radio" name="selection_type_C2" value="exact" checked />
          Exact
        </label>
        <label>
          <input type="radio" name="selection_type_C2" value="contained" />
          Contained
        </label>
      </fieldset>

      <fieldset>
        <legend>C3 - Zmienna decydująca o linii bazowej użytkownika</legend>
        {% for context_var in context_list %}
        <input
          type="checkbox"
          id="{{ context_var }}"
          name="c3_choices"
          value="{{ context_var }}"
        />
        <label for="{{ context_var }}">{{ context_var }}</label><br />
        {% endfor %}
      </fieldset>

      <fieldset>
        <legend>Wybór typu selekcji (C3)</legend>
        <label>
          <input type="radio" name="selection_type_C3" value="exact" checked />
          Exact
        </label>
        <label>
          <input type="radio" name="selection_type_C3" value="contained" />
          Contained
        </label>
      </fieldset>

      <button type="submit">Zatwierdź wybory i przeprowadz rekomendacje</button>
    </form>
  </body>
</html>
