{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/register.css' %}"
    />
    <title>Register Page</title>
  </head>
  <body>
    <div class="register-container">
      {% if messages %} {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %} {% endif %}
      <h2>Register</h2>
      <form
        class="register-form"
        method="post"
        action="{% url 'registration' %}"
      >
        {% csrf_token %}

        <div class="form-group">
          <label for="id_username">Username:</label>
          <input type="text" id="id_username" name="username" required />
        </div>

        <div class="form-group">
          <label for="id_email">Email:</label>
          <input type="email" id="id_email" name="email" required />
        </div>

        <div class="form-group">
          <label for="id_password1">Password:</label>
          <input type="password" id="id_password1" name="password1" required />
        </div>

        <div class="form-group">
          <label for="id_password2">Confirm Password:</label>
          <input type="password" id="id_password2" name="password2" required />
        </div>
        <div id="password-error" class="error-message"></div>
        <div class="form-group">
          <button type="submit" id="submit-button">Register</button>
        </div>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var password1 = document.getElementById("id_password1");
        var password2 = document.getElementById("id_password2");
        var errorMessage = document.getElementById("password-error");
        var submitButton = document.getElementById("submit-button");

        function checkPasswords() {
          if (
            password1.value.length >= 8 &&
            /[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(password1.value) &&
            /\d/.test(password1.value)
          ) {
            if (password1.value !== password2.value) {
              errorMessage.textContent = "Passwords do not match.";
              submitButton.disabled = true;
            } else {
              errorMessage.textContent = "";
              submitButton.disabled = false;
            }
          } else {
            errorMessage.textContent =
              "Password should be at least 8 characters long and include at least one special character and one digit.";
            submitButton.disabled = true;
          }
        }

        password1.addEventListener("input", checkPasswords);
        password2.addEventListener("input", checkPasswords);
      });
    </script>
  </body>
</html>
