.vertical-menu {
    max-width: 400px; /* Maksymalna szerokość menu, dostosuj według potrzeb */
    max-height: 300px;
    margin: 0 auto;   /* Auto-marginesy gwarantują, że div będzie na środku poziomym */
    padding: 20px;    /* Dodaj marginesy wewnątrz menu, dostosuj według potrzeb */
    border: 1px solid #ccc; /* Dodaj obramowanie dla zaznaczenia obszaru menu */
    overflow-y: auto;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    margin-bottom: 10px;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }